src/main/resources/configuration.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mira.be"
            xmlns="http://www.mira.be"
            elementFormDefault="qualified">
    <!--
      The root element bundles all possible entry elements for the XML files.
      -->
    
    <xsd:element name="kiosk" type="kioskType" />
    
    
    <!--
      A kiosk represents an integral piece of hard- and software within the 
      network. It is mapped 1 on 1 with a UPnP device, and as such has a 
      unique identifier used to distinguish it within the network.
      -->
    
    <xsd:complexType name="kioskType">
        <xsd:sequence>
            <xsd:element name="target" type="UuidType" />
            <xsd:element name="device" type="deviceType" minOccurs="0" />
            <xsd:element name="application" type="applicationType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="UuidType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
        </xsd:restriction>
    </xsd:simpleType>
    
    
    <!--
      The device element represents the hardware portion of a kiosk. It is the
      configuration counterpart of the DeviceService UPnP service.
      -->
    
    <xsd:complexType name="deviceType">
        <xsd:sequence>
            <xsd:element name="sound" type="soundType" minOccurs="0" />            
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="soundType">
        <xsd:sequence>
            <xsd:element name="volume" type="volumeType" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:simpleType name="volumeType">
        <xsd:restriction base="xsd:unsignedLong">
            <xsd:maxInclusive value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    
    <!--
      The application element represents the application on a kiosk. It is the
      configuration counterpart of the ApplicationService UPnP service.
      -->
    
    <xsd:complexType name="applicationType">
        <xsd:sequence>
            <xsd:element name="interface" type="interfaceType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="media" type="mediaType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="interfaceType">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="mediaType">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required" />
    </xsd:complexType>
</xsd:schema>
